@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* DEFAULTS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  --dark-clr: #898989;
  --primary-clr: #2d1dff;
}

header,
footer {
  background-color: #333;
  color: #fff;
}

main > section:nth-child(even) {
  background-color: #333;
  color: #fff;
}

/* Settings all Un-ordered-list styles */
ul.contacts,
ul.socials,
ul.nav-bar-list,
ul.features,
ul.services-list,
ul.f-about,
ul.f-explore,
ul.important,
ul.categories {
  list-style: none;
}

.contacts a,
.socials a,
.nav-bar a,
ul.f-about a,
ul.f-explore a,
ul.important a,
ul.categories a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 9px 16px;
  outline: none;
  border-radius: 4px;
  color: #fff;
  line-height: 1.5;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}

.btn:hover,
.btn:focus {
  color: #fff !important;
  box-shadow: inset 0 0 10px #1808f3 !important;
  background-color: #1808f3;
}
/* ************* */

/* HEADER  */

.header {
  /* width: 100vw; */
  background-image: url("../assets/images/home.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* margin: 0 10px; */
  font-size: 1em;
  border-bottom: 1px solid gray;
}

.contacts {
  flex: 2;
}

.contacts,
.socials {
  display: flex;
}

.contacts li,
.socials li {
  padding-right: 1em;
}

.contacts a:hover {
  color: var(--dark-clr);
}

.contacts i {
  padding-right: 0.5em;
}

.socials i,
.contacts i {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.socials li:last-child {
  padding-right: 2em;
}

.socials i:hover {
  color: var(--primary-clr);
}

.search-bar-form {
  display: flex;
}

.search-bar-input {
  appearance: none;
  background: transparent;
  border: 0;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 300;
  font-family: inherit;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px;
  border-radius: 4px;
  width: 5em;
  transition: all 0.3s ease-in;
}

.search-bar-input:focus {
  outline: 0;
  width: 15em;
  background-color: #373940;
}

.nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  letter-spacing: 0.2em;
  font-weight: 900;
}
.nav-bar-list {
  display: flex;
  align-items: center;
}

.nav-bar-list li {
  padding-right: 1em;
}

.nav-bar-list a {
  font-weight: 400;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.nav-bar-list a:hover {
  color: var(--primary-clr);
}
.active_menu {
  border-bottom: 2px solid var(--primary-clr);
}

.nav-bar-list li:last-child {
  padding-left: 20px;
}

.purchase-btn {
  border: 1px solid transparent;
  background-color: var(--primary-clr);
  letter-spacing: 0.02em;
}

.intro {
  text-align: center;
  padding: 100px 20px;
  margin-top: 20px;
}

.intro *:not(i) {
  font-weight: 300;
}

.intro h1 {
  font-size: 5em;
}

.features {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 100px;
}

.features i {
  border: 1px solid var(--primary-clr);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.5em;
}

.features h3 {
  font-weight: 600;
  margin-top: 1em;
}

/* *************** */

/* About */
.about-1,
.about-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 150px;
  margin: 0 100px;
}

.about-1-content,
.about-2-content {
  max-width: 700px;
  min-width: 300px;
  padding: 0 5em;
}

.about-1-content > h1,
.about-2-content > h1 {
  font-size: 2em;
  font-weight: 300;
}

.about-1-content > p,
.about-2-content > p {
  color: var(--dark-clr);
}

.about-1 ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.about-1 ul li {
  padding: 1em 2em;
}

.about-1 ul li p {
  font-weight: 500;
}

.about-1 ul h1 {
  font-size: 3em;
  font-weight: 300;
  color: var(--primary-clr);
}

.about-2-content p {
  padding-bottom: 5em;
}

.read-more-btn {
  background-color: var(--primary-clr);
  color: #fff;
  text-decoration: none;
}

/* SERVICES */

.services-1 {
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-head {
  text-align: center;
}
.services-head > h1 {
  font-size: 5em;
  font-weight: 300;
}

.services-head > h2 {
  font-weight: 300;
  font-size: 2em;
  color: var(--primary-clr);
}

.services-list {
  display: flex;
  padding: 5em 0;
  justify-content: space-around;
}

.services-list li {
  padding: 100px 20px;
  border: 1px solid rgb(240, 239, 255);
  margin: 0 1em;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.services-list i {
  font-size: 3em;
  padding-bottom: 1em;
  color: var(--primary-clr);
  font-weight: 700;
}

.services-list li:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.video-presentation {
  background-image: url(../assets/images/presentation_video.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 200px;
}

.video-presentation i {
  font-size: 5em;
  padding: 0.5em;
  cursor: pointer;
}

.video-presentation h1 {
  font-size: 3em;
  font-weight: 300;
}

.video-presentation p {
  font-size: 2em;
}

/* Pricing */

.pricing {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  align-items: flex-start;
}

.pricing > article {
  padding: 80px 50px;
  border-radius: 5px;
  margin: 1em;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.pricing article > h1 {
  font-size: 3em;
  font-weight: 300;
}

.pricing article:first-child {
  border: none;
  background-color: #fff;
  cursor: text;
}
.pricing article > p {
  color: #898989;
  margin: 1em 0;
}

.startup-pkg > h1,
.business-pkg > h1 {
  font-weight: 600 !important;
}

.pricing button {
  padding: 1em 3em;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  color: black;
  font-size: 1em;
  margin-top: 5em;
  cursor: pointer;
}

.startup-pkg:hover,
.business-pkg:hover {
  border: 1px solid var(--primary-clr) !important;
}

.pricing button:hover {
  background-color: #1808f3;
}

/* Contact Us */

section.contacts {
  background-image: url("../assets/images/contact_us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 200px;
}

.contacts article {
  text-align: center;
}
.contacts h2 {
  color: #b6b1ff;
  font-size: 2em;
  font-weight: 300;
}

.contacts h1 {
  font-size: 3em;
  font-weight: 300;
}

.contact-btn {
  background-color: var(--primary-clr);
  padding: 18px 36px;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  background: none;
  transition: all 0.3s ease-in;
  color: #fff;
  border-color: #b6b1ff;
  border-width: 2px;
}

.contact-btn:hover {
  opacity: 0.7;
  background: none;
  border-color: #b6b1ff;
  box-shadow: none !important;
}

/* FOOTER */

.footer {
  padding: 30px 180px;
  background-color: rgb(17, 17, 17) !important;
}
.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6em 0;
  line-height: 2;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.footer-1 ul:first-child {
  width: 300px;
}

.footer-1 ul li a:not(.logo) {
  color: var(--dark-clr);
}
.footer-1 .f-socials {
  display: flex;
  align-items: center;
  padding-top: 1em;
}

.f-socials i {
  padding-right: 1em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.f-socials i:hover {
  color: var(--primary-clr);
}

.footer-1 ul a:hover {
  text-decoration: underline;
}

.footer-1 .f-logo .logo:hover {
  cursor: pointer;
  text-decoration: none;
}

.footer-1 > div > h3 {
  font-weight: 500;
}

.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
}

.footer-2 ul a {
  text-decoration: none;
  color: var(--dark-clr);
}

.footer-2 ul li:last-child {
  padding-left: 0;
}

.footer-2 ul a:hover {
  text-decoration: underline;
}

/* RESPONSIVENESS */

.container {
  min-width: 400px;
}

.mobile-nav-bar {
  display: none;
}
.open-nav {
  display: none;
}
@media (max-width: 460px) {
.open-nav {
  display: block;
}
  
.mobile-nav-bar {
display: block;
 }
  .container {
    width: 100%;
  }

  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 1.5em !important;
  }

  p {
    font-size: 1em !important;
  }

  .contacts {
    display: none;
  }

  .search-bar-input:hover {
    width: 100%;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
  }

  .header .nav-bar-list {
    display: none;
  }

  .nav-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-1 a {
    margin-right: 120px;
  }

  .mobile-nav-bar {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  .mobile-nav-bar-list {
    position: relative;
    top: 25%; /* 25% from the top */
    left: 12%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 1em; /* 30px top margin to avoid conflict with the close button on smaller screens */
    list-style: none;
  }
  .mobile-nav-bar-list li a,
  .close-nav {
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .purchase-btn {
    color: #fff !important;
  }

  .active_menu {
    color: var(--primary-clr) !important;
  }

  .open-nav {
    background: transparent;
    outline: none;
    border-radius: 3px !important;
    border: 1px solid var(--dark-clr);
    position: sticky;
    top: 10%;
  }

  .open-nav:hover,
  .open-nav:focus,
  .open-nav:active {
    transform: scale(0.95);
    opacity: 0.8;
    background-color: transparent;
    box-shadow: none !important;
  }
  .close-nav {
    position: absolute;
    bottom: 0;
    font-size: 60px;
    left: 40%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 38px;
    cursor: pointer;
  }

  .close-nav:hover,
  .close-nav:active,
  .close-nav:focus {
    color: var(--primary-clr) !important;
  }

  .intro,
  .intro * {
    margin: 0;
    padding: 0;
  }

  .intro {
    padding: 3em 0;
    text-align: center;
  }

  .intro ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
  }

  .intro ul * {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }

  .intro ul li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .intro i {
    border: none;
  }

  /* About */
  .about * {
    margin: 0;
    padding: 0;
  }
  .about-1-content,
  .about-2-content {
    width: 100px !important;
    padding: 1em;
  }

  .about img {
    display: none;
  }

  .about-1,
  .about-2 {
    padding: 1em;
    text-align: center;
    flex-direction: column;
  }

  .about-1 ul {
    justify-content: center;
  }

  .about-1 {
    border-bottom: 1px solid var(--dark-clr);
  }
  .about-2 p {
    padding-bottom: 2em;
  }

  .read-more-btn {
    padding: 9px 18px !important;
    margin-bottom: 2em;
  }

  /* Services */
  .services * {
    padding: 0;
    margin: 0;
  }

  .services-1 {
    padding: 3em 0;
  }
  .services-1 ul {
    flex-direction: column;
  }

  .services-1 ul li {
    padding: 3em 1em;
    margin: 2em;
  }

  .video-presentation {
    padding: 100px 0;
  }

  /* Prices */

  .pricing {
    flex-direction: column;
  }

  .pricing > article {
    padding: 1em;
    margin: 0;
  }

  .pricing h1 {
    font-size: 1.5em !important;
  }

  .pricing ul {
    list-style: none;
  }

  section.contacts {
    padding: 100px 0;
    margin: 0;
  }

  .footer {
    padding: 1em 0;
  }
  .footer-1 {
    display: none;
  }

  .footer-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-2 p {
    font-size: 9px;
    padding-bottom: 1em;
  }

  .footer-2 ul a {
    font-size: 12px;
  }
}
